html {
    background: #018DED url(https://i.picsum.photos/id/1001/1800/1000.jpg?blur=3);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid darkslategrey;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px darkslategrey,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    /* transition: all 0.05s; */
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1.17);
  }

  .hand.hour-hand {
    width: 38%;
    left: 35px;
}

.hand.second-hand {
    height: 2px;
    left: -1px;
}

.clock-face .number-1{
    position: absolute;
    top: 8px;
    right: 70px;
    font-size: 35px;
    z-index: -1;
    font-weight: 700;
    font-family: "Helvetica";
}